.app{
  text-align: center; 
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.img{
  background-image: url("background.jpg");
  opacity: 0.5;    
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.4;
}