.app{
  text-align: center; 
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 2;  
}

#root{
  background-color: lavender;
}

.img{
  background-image: url("background.jpg");
  opacity: 0.5;    
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.4;
}

input{
  padding: 5px;
}

label{
  padding: 5px;
}

button{
  margin: 10px;
}

button:hover{
  color: rgb(226, 43, 89);  
}